{:schema-version 1, :name "logseq-notes-20260525T074705Z", :repo "logseq_db_logseq-notes", :source :electron-auto, :created-at-ms 1779695225963, :db-path "/Users/gs23/logseq/graphs/logseq-notes/backup/logseq-notes-20260525T074705Z/db.sqlite"}