{:schema-version 1, :name "logseq-notes-20260525T114705Z", :repo "logseq_db_logseq-notes", :source :electron-auto, :created-at-ms 1779709625877, :db-path "/Users/gs23/logseq/graphs/logseq-notes/backup/logseq-notes-20260525T114705Z/db.sqlite"}