{:schema-version 1, :name "logseq-notes-20260525T012556Z", :repo "logseq_db_logseq-notes", :source :electron-auto, :created-at-ms 1779672356675, :db-path "/Users/gs23/logseq/graphs/logseq-notes/backup/logseq-notes-20260525T012556Z/db.sqlite"}