{:schema-version 1, :name "logseq-notes-20260525T064705Z", :repo "logseq_db_logseq-notes", :source :electron-auto, :created-at-ms 1779691625935, :db-path "/Users/gs23/logseq/graphs/logseq-notes/backup/logseq-notes-20260525T064705Z/db.sqlite"}