{:schema-version 1, :name "logseq-notes-20260524T201814Z", :repo "logseq_db_logseq-notes", :source :electron-auto, :created-at-ms 1779653894088, :db-path "/Users/gs23/logseq/graphs/logseq-notes/backup/logseq-notes-20260524T201814Z/db.sqlite"}